<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Reto 2</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div>
		<h1>Challenge 2</h1>
		<!-- APP -->
		<main id="app">
			<!-- Options -->
			<select v-model="option" 
				:class="option"
				:style="option === 'block' ? 'color: #fff' : ''"
			>
				<option value="block" class="block" selected>Blocks</option>
				<option value="init" class="init">Start</option>
				<option value="finish" class="finish">Finish</option>
			</select>
			<button
				@click="search(0)"
			>
				Start
			</button>
			<!-- Canvas -->
			<div v-for="(row, i) in table"
				class="row"
			>
				<cell-component v-for="(cell, j) in row"
					:option="option"
					:position="{i, j}"
					:key="j"
				></cell-component>
			</div>
		</main>
		<small>
			<i>Press <b>Ctrl</b> to add blocks more faster</i>
		</small>
	</div>
	<!-- Components -->
	<script type="text/x-template" id="cell-template">
		<div class="cell"
			:class="className"
			@click="toggleCell(option)"
			@mouseover.ctrl="toggleCell(option)"
		></div>
	</script>
	<script src="app.js"></script>
</body>
</html>